body, html{
overflow: auto;
margin:0;
height: 100%;
font-size:22px;
font-family: 'Open Sans', sans-serif;
overflow-x: hidden;
}
section{
  position: relative;
  margin: 0 -9999rem;
  padding: 5.25rem 999rem;
  text-align: center;
}
h1{
font-family: 'Montserrat', sans-serif;
font-weight: bold;
letter-spacing: 1.5px;
}
.sectionImg{
  position: relative;
  margin: 0 -9999rem;
  padding: .25rem 9999rem;
  text-align: center;
  padding-bottom: 50px;
}
#main1{
  background-color: #FFFF;
  color: :	#3E3F48;
  position: relative;
  margin: 0 -9999rem;
  padding: .25rem 9999rem;
  text-align: center;
  padding-bottom: 50px;
}
#main1 img{
  height: 500px;
  width: 500px;
}
#main1 h1{
  top: -140px;
  bottom: 30px;
}
#main2{
  background-color: #00BBD6;
  color: 	#FFFF;
  position: relative;
  margin: 0 -9999rem;
  padding: .25rem 9999rem;
  text-align: center;
  padding-bottom: 50px;
}
#main2 img{
  height: 350px;
  width: 315px;
  float: right;
}
#main3{
  background-color: #FDCC41;
  color:#FFFF;
  position: relative;
  margin: 0 -9999rem;
  padding: .25rem 9999rem;
  text-align: center;
  padding-bottom: 50px;
}
#main4{
  background-color: #1967B2;
  color: 	#FFFF;
  position: relative;
  margin: 0 -9999rem;
  padding: .25rem 9999rem;
  text-align: center;
  padding-bottom: 50px;
}
#main4 img{
  height: 350px;
  width: 325px;
  float: right;
}
#main5{
  background-color: #F67A41;
  color: 	#FFFF;
  position: relative;
  margin: 0 -9999rem;
  padding: .25rem 9999rem;
  text-align: center;
  padding-bottom: 50px;
}
#main5 img{
  height: 450px;
  width: 525px;
  float: right;
}
img{
  padding: 5px 5px 5px 5px;
}
#wrapper {
    width: 1100px;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 500px;
    float:right; /* add this */
    padding-top: 50px;

}
#second {
  padding-left: 50px;
  padding-top: 100px;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
